body {
    background-image: url("images/background.jpg");
    margin: 0;
}

nav {
    background-color: purple;
    height: 50px;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}

a:hover {
    color: yellow;
    font-size: 30px;
}

#frontImg {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    border-radius: 15%;
    border: purple 8px solid;

}

h1 {
    background-color: aquamarine;
    color: purple;
    font-size: 90px;
    text-align: center;
}

figcaption {
    background-color: purple;
    color: white;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

p, ul#list {
    background-color: aquamarine;
}

#blurb {
    font-size: 20px;
    padding: 20px;
}

#list {
    font-size: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    border-radius: 15%;
    border: purple 8px solid;
    line-height: 1.5em;
    background-color: aquamarine
}

footer {
    text-align: right;
    margin-right: 2px;
    margin-left: auto;
    width: 225px;
}